<form class="-full -form-wrapper">
  <%= link_to "Volver", root_path, class: "-back-link" %>
  <h2 class="o-cards-list__head o-cards-list__head--title">Ayuda</h2>
  <p class="-text">Si tienes cualquier duda, problema o sugerencia , copia y pega esta dirección y escribe a <strong class="-strong">sporte.graciaspor@gmail.com</strong></p>
  <br>
  <p class="-text">O también puedes pulsar el botón para enviar un e-mail</p>
  <a class="a-button a-button--primary" href="mailto:sporte.graciaspor@gmail.com">Abre tu gestor de correo</a></p>
</form>