<form class="-full -form-wrapper">
  <h2 class="o-cards-list__head o-cards-list__head--title">¡Enviado!</h2>
  <p class="-text">Tu mesaje ha sido enviado y ya está publicado para que todo el mundo lo pueda leer</p>
  <p class="-text">Si quieres puedes enviar el link de la carta a tu correo.</p>

  <a href="mailto:name@email.com">nuestro mail de soporte</a></p>

  <p class="text">
    Si quieres volver a la pagina principal, <%= link_to "pulsa aquí.", root_path, class: "-back-link" %>
  </p>
</form>